{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}
{% block image-header %} contact {% endblock %}
{% load static %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
    <h3 class="fs-2">Asesoría personal</h3>
</div>
{% endblock %}

{% block content %}
    <h3 class="text-center">Formulario de Contacto</h3>
    <p class="fs-5 text-center px-5">Es un placer que puedas contactarnos. Nos pondremos en contacto contigo, en el menor tiempo posible</p>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre y Apellido</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    {{ form.message }}
                    {{ form.message.errors }}
                </div>
                <input class="btn btn-primary" type="submit" value="Enviar Mensaje" {% if 'ok' in request.GET %}disabled{% endif %}{% if 'error' in request.GET %}disabled{% endif %}>
            </form>

            {% if 'ok' in request.GET %}
                <div class="alert alert-success mt-5" role="alert">
                    <strong>El mensaje se ha enviado correctamente</strong>
                </div>
            {% endif %}

            {% if 'error' in request.GET %}
                <div class="alert alert-danger mt-5" role="alert">
                    <strong>El mensaje no ha podido ser enviado. Por favor, intente más tarde</strong>
                </div>
            {% endif %}
        </div>
        
        <div class="col-md-6 mb-5">
            <img class="float-start img-fluid" src={% static 'contact/img/email.jpg' %} alt="">
        </div>
    </div>
 
{% endblock %}